
body{
    margin:0;
    padding:0;
    /*图片地址*/
    background-size: 100%, 100%;
}
.center{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

.main{
    position: absolute;
    margin-top: 15%;
    height: 350px;
    width: 100%;
}

#FormLogin{
    position: absolute;
    height: 350px;
    margin-left: 35%;
    width: 450px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(41, 12, 127, 0.2);
}

.title{
    position: absolute;
    margin-top: 15px;
    margin-left: 35%;
    font-size:35px;
    color:black;
    font-style:normal;
}
.input-text{
    position: absolute;
    margin-left: 20%;
    height:36px;
    width:270px;
    border-radius: 5px;
    background-color: white;
    border:none;
    box-shadow: 0 2px 10px rgba(41, 12, 127, 0.2);
    outline: none;

}
#username{
    position: absolute;
    margin-top: 100px;
}
.ver-username{
    position: absolute;
    margin-top: 100px;
    margin-left: 7%;
}

#password{
    position: absolute;
    margin-top: 160px;
}

.ver-password{
    position: absolute;
    margin-top: 160px;
    margin-left: 7%;
}
#ButtonLogin{
    position: absolute;
    margin-top: 250px;
    margin-left: 20%;
    height:50px;
    width:270px;
    border-radius: 10px;
    background-color: #5FB878;
    border:none;
    font-size:23px;
    box-shadow: 0 2px 10px rgba(41, 12, 127, 0.2);
    outline: none;
}
.error{
    position: absolute;
    margin-top: 300px;
    color: #ec0e0e;
    margin-left: 35px;
}
