<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <script src="static/san-js/jquery.min.js" type="text/javascript"></script>
    <script src="../static/layui/js/login.js"></script>
    <link rel="stylesheet" href="../static/layui/css/login.css">


</head>
<body>

<div class="center">
    <div class="main">
        <form method="post" id="FormLogin">

            <div>

                <label  for="username"></label>
                <input type="text" placeholder="请输入用户名" class="input-text" maxlength="12" id="username" name="username" autocomplete="off"   required/>
            </div>
            <div>

                <label for="password"></label>
                <input type="password" placeholder="请输入用户密码" class="input-text" maxlength="12" id="password" name="userpassword" autocomplete="off" required/>
            </div>

            <div>
                <input type="button" id="ButtonLogin" value="登&emsp;录">
            </div>
            <p class="error" id="error"></p>
        </form>

    </div>
</div>


</body>

</html>